venv/
__pycache__/
*.pyc
*.log
.cache/
.cache/*/
.cache/*/*
.cache/*/*/*
cache/
cache/*

# VSCode or PyCharm
.idea/
.vscode/

# Jupyter stuff (if used later)
.ipynb_checkpoints/

# for the API key
.env
